.logotipo{
    height: 200px;
}
main{
    background-color: chartreuse;
    height: 700px;
    color: black;
}
header{
    background-color: blueviolet;
    height: 300;
}
.foz 234{
    height: 300px;
}