.logotipo{
    height: 200px;
}
main{
    background-color: rgba(76, 0, 253, 0.315);
    height: 800px;
    color: black;
}
header{
    background-color: rgba(187, 7, 31, 0.781);
    height: 300;
}
.foz 234{
    height: 200px;
}